.dog-list-card {
  transition: background-color 0.5s ease;
}

.dog-list-card:hover {
  background-color: rgb(240, 240, 240);
}

.dog-list-card a:link, .dog-list-card a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}
